.App {
  text-align: center;
}

.App-trophy {
  width: 100px; /* ou qualquer tamanho desejado */
  height: auto; /* mantém a proporção da imagem */
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  /* color: white; */
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.picker-item-selected {
  font-weight: bold;
  opacity: 1;
  filter: none;
}

.picker-item-unselected {
  opacity: 0.3;
  filter: blur(0.1px);
}
/* 
.picker-container {
  display: flex;
  justify-content: center;
  align-items: center;
} */


/* 
.picker-item {
  height: 10px;
  line-height: 40px;
  text-align: center;
  transition: opacity 0.3s;
} */